*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #17A2B8;
    font-family: "Arial";
}
div.box{
    border-radius: 15px;
    width: 745px;
    margin:20px auto;
    padding:40px;
    background-color: #fff;
}
h2{
    font-size: 28px;
    font-weight: 700;
    color: #FF1053;
    text-transform: uppercase;
    margin-bottom:31px;

}
h1{
    font-size: 40px;
    margin-bottom: 31px;
}
p{
    font-family: Arial;
    font-size: 28px;
    margin-bottom: 30px;
    color:#17A2B8;

}
button{
    border: 5px solid #FF0000;
    background: #000000;
    padding: 35px 45px 36px 45px;
    border-radius: 10px;
    font-family: Arial;
    font-size: 24px;
    text-align: center;
    color:#fff;
    text-transform: uppercase;

}

