section#featured-categories{
    margin:72px 0px;
}
div.featured-categories-wrapper{
    display: flex;
    justify-content: center;
    gap:30px;
}
div.featured-category-item{
    background-color: #fff;
    width: calc((100% - 90px) / 4);
    text-align: center;
    padding: 20px 0px;
}
div.featured-category-item i{
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    color:#5A67D8;
}
h4.featured-category-name{
    font-family: Hind;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color:#718096
}