header{
    background: #FFFFFF;
}
header .container nav {
    display: flex;
    justify-content: space-between;
}
header .container ul{
    display: flex;
    justify-content: center;
    gap:24px;
}
