*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
@font-face {
    font-family: 'CustomFont';
    src: url('font/Merriweather/Merriweather-Black.ttf') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  @font-face{
    font-family: "Poppins";
    src:url("font/Poppins/Poppins-ExtraLight.ttf");
  }
body{
    background: #D8DAE2;
    padding: 216px 20px;
    font-family: 'CustomFont';

}
.container{
    background: #EFF0F1;
    margin: 0px auto;
    border-radius: 26px;
    position: relative;
    padding:62px;
}
div.circle-top{
        width: 310px;
        height: 294px;
        border-radius: 50%;
        background: #E5E7F0;
        position: absolute;
        top: 0px;
        right: 287px;
        transform: translateY(-50%);
        z-index: -1;
}
div.circle-bottom{
    width: 433px;
    height: 433px;
    border-radius: 50%;
    background: #E5E7F0;
    position: absolute;
    bottom: 0px;
    left: 239px;
    transform: translateY(50%);
    z-index: -1;
}
div.collection-category-filter{
    margin-bottom: 56px;
}
h2{
    margin-bottom: 24px;
}
button.collection-category-filter-item{
    padding:10px;
    border:0px;
    background: #fff;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}
div.collection-list{
    display:flex;
    justify-content: center;
    gap:64px;
}
div.collection-item{
    width:calc(( 100% - 124px)/3);
    background:#fff;
    padding:24px;
    border-radius: 32px;
}
div.thumb-small {
    display:flex;
    justify-content: center;
    gap:16px;
    margin-top:16px;
    margin-bottom:24px;
}
div.thumb-small img{
    width:calc(( 100% - 32px)/3);
}
div.meta{
    display:flex;
    justify-content: space-between;
    font-family: "Poppins"; 
    color:#000;
}
div.meta h3{
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 700;
    

}
span.views{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}