*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: "IBM Plex Sans", sans-serif;
}
div.header{
    background-color: #fff;
    padding: 25px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
div.header a.logo{
    font-family: IBM Plex Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 28.6px;
    text-align: left;
    color: #14203E3D;

}
div.header ul{
    display: flex;
    gap:56px;
}
div.header ul li{

}
div.header ul li a{
  font-size: 18px;
  color: #14203E;
}
div.actions button.btn-login{
  border-radius: 10px;
  background-color:#F6F0E8;
  color:#000;
  font-size: 18px;
  border: none;
  padding:13px 30px;
  margin-right: 15px;

}
div.actions button.btn-free-trial{
  border-radius: 10px;
  border: none;
  background-color:#14203E;
  font-size: 18px;
  color:#FFFFFF;
  padding: 13px 30px;
  outline: none;
}
div.hero{
    background-color: #FFFCF8;
    padding:229px 0px 331px 0px;
    display: flex;
    justify-content: center;
}
div.hero div.hero-content{
    text-align: center;
    width: 600px;
}
div.hero h1.hero-title{
    font-family: "IBM Plex Sans";
    font-size: 66px;
    font-weight: 700;
}
div.hero p.hero-desc{
    font-size: 22px;
    font-weight: 500;
    margin:30px 0px 40px 0px;
}
div.hero button.hero-button{
  font-size: 18px;
  background-color:#14203E;
  padding:25px 40px;
  color:#fff;
  border:0px;
  border-radius: 10px;
}
div.articles{
    background: #fff;
    padding:30px 173px 62px 173px;
    text-align: center;
}
div.articles div.title{
   display: flex;
   align-items: center;
   justify-content: center;
   gap:15px;
   margin-bottom:30px;
}
div.articles span.title-line{
    display: inline-block;
    width: 200px;
    height: 1px;
    background-color: #14203e2d ; 
}
div.articles h2.title-text{
  font-size: 14px;
  font-weight: 600;
}
div.article-list{
    display: flex;
    justify-content: center;
    gap:30px;
    text-align: left;
}
div.article-list div.article-item{
    width: calc(( 100% - 90px) / 3);
}
div.article-list img.article-thumb{
    width: 100%;
    vertical-align: top;
    height: 231px;
}
div.article-list h3.article-title{
  margin:20px 0px 15px 0px;
}
div.article-list h3.article-title a{
  font-family: IBM Plex Sans;
  font-size: 22px;
  font-weight: 700;
  color: #14203E;
}
div.article-list span.article-time{
  font-size: 14px;
  font-weight: 400;
}



<div class="articles">
      <div class="title">
        <span class="title-line"></span>
        <h2 class="title-text">We share our thoughts on design</h2>
        <span class="title-line"></span>
      </div>
      <div class="article-list">
        <div class="article-item">
          <img src="./images/a1.jpg" class="article-thumb" alt="" />
          <h3 class="article-title">
            <a href="#" class="article-link">Redesigning my site increased sales by over 400% in one week.</a>
          </h3>
          <span class="article-time">Jul 1, 2020</span>
        </div>
        <div class="article-item">
          <img src="./images/a2.jpg" class="article-thumb" alt="" />
          <h3 class="article-title">
            <a href="#" class="article-link">Design handoff: What engineers really want to see</a>
          </h3>
          <span class="article-time">Jul 1, 2020</span>
        </div>
        <div class="article-item">
          <img src="./images/a3.jpg" class="article-thumb" alt="" />
          <h3 class="article-title">
            <a href="#" class="article-link">A comprehensive list of human-computer interactions</a>
          </h3>
          <span class="article-time">Jul 1, 2020</span>
        </div>
        <div class="article-item">
          <img src="./images/a4.jpg" class="article-thumb" alt="" />
          <h3 class="article-title">
            <a href="#" class="article-link">Why do people hate redesigns?</a>
          </h3>
          <span class="article-time">Jul 1, 2020</span>
        </div>
      </div>