*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding:20px;
    
}
table{
    border-collapse: collapse;
    width:100%;
}
table thead tr{
    border:1px solid #dee2e6;
}
table thead tr th{
    color:#fff;
    border:1px solid #dee2e6;
    text-align: left;
    padding:20px 0px 20px 20px;
    font-weight: 700;
    font-size: 15px;
}
table tbody tr, table tbody tr td{
    border:1px solid #dee2e6;
}
table tbody tr td{
    padding: 0.75rem 0.75rem 0.75rem 30px;
}
thead{
    background-color:#2441e7;
    

}
.course{
    
}
thead tr.course,thead tr.class{
    width:350px;
}
thead tr.course{
    width:350px;
}

thead tr.start{
    width:150px;

}