*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color:#23272F;
    font-family: "Poppins", sans-serif;
}
div.container{
    margin: 0px auto;
    width: 900px;
}
h1{  
    font-size: 40px;
    font-weight: 800;
    color: #F6F7F9;
    margin:20px 0px;
}
p.react-blog{  
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color:#F6F7F9;
    margin-bottom:20px;
}
p.react-blog span{
    font-size: 20px;
    font-weight: 500;
    color: #149ECA;
}
div.article{
    border-radius: 16px;
    border: 1px solid #E5E7EB;
    padding: 20px;
    margin-bottom:20px;
}
div.article:last-child {
    margin-bottom: 0;
}
div.article h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color:#F6F7F9;
    margin-bottom:16px;
}
div.article span.blog-date{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 16px;
}
div.article span{   
    font-size: 18px;
    font-style: italic;
    color:#99A1B3;
    display: block;
}
div.article p{
    font-size: 18px;
    line-height: 27px; 
    color:#F6F7F9;
    margin-bottom: 16px;
}
div.article a{
    font-size: 18px;
    color:#149ECA;

}
